footer {
    color: #9397AD;
    padding: 10px;
    margin: 20px;

    .container {
        display: grid;
        justify-content: center;
        align-items: center;

        .social-media {
            display: none;
            gap: 20px;
            margin-bottom: 20px;

            @include lg {
                display: flex;
                justify-content: center;
            }
        }


        .copyright {
            font-size: 14px;
            text-align: center;
            width: 100%;

            span {
                display: none;

                @include lg {
                    display: inline;
                }
            }
        }
    }
}
