
<section class="content-home">
    <div class="container">
        <img class="content-image" src="~/images/content/content-image.svg" alt="" />
        <div class="content">
            <ul>
                <h2 class="header-content">Manage Your Work</h2>
                <li>Powerful project management</li>
                <li>Manage work & focus on the most important tasks</li>
                <li>Track your progress with interactive charts</li>
                <li>Easiest way to track time spent on tasks</li>
            </ul>
            <div class="content-learn">
                <a class="btn btn-theme" asp-action="Index" asp-controller="Products">Learn more</a>
            </div>
        </div>

    </div>
</section>