<section class="slider-section">
    <div class="container">
        <div class="slider_content">
            <img class="slider-image" src="~/images/Slider/Slider (1).svg" />
        </div>
 
    </div>

</section>
