@model AccountdetailsViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Details";

}

@{
    ViewData["Title"] = "Account Details";
}

<section class="account-details">
    <div class="container">

        <form method="post" asp-controller="Account" asp-action="UpdateBasicInfo">
            <h1>Account Details</h1>
            <h4>Basic Info</h4>
            <div class="form-content">

                <div class="input-f input-group">
                    <label class="input-label" asp-for="BasicInfo.FirstName"></label>
                    <input asp-for="BasicInfo.FirstName" />
                    <span asp-validation-for="BasicInfo.FirstName"></span>
                </div>

                <div class="input-lastname input-group">
                    <label class="input-label" asp-for="BasicInfo.LastName"></label>
                    <input asp-for="BasicInfo.LastName" />
                    <span asp-validation-for="BasicInfo.LastName"></span>
                </div>

                <div class="input-email input-group">
                    <label class="input-label" asp-for="BasicInfo.Email"></label>
                    <input asp-for="BasicInfo.Email" disabled />
                    <span asp-validation-for="BasicInfo.Email"></span>
                </div>

                <div class="input-phone input-group">
                    <label class="input-label" asp-for="BasicInfo.PhoneNumber"></label>
                    <input asp-for="BasicInfo.PhoneNumber" />
                    <span asp-validation-for="BasicInfo.PhoneNumber"></span>
                </div>
                <div class="input-bio input-group">
                    <label class="input-label" asp-for="BasicInfo.Bio"></label>
                    <textarea asp-for="BasicInfo.Bio"></textarea>
                    <span asp-validation-for="BasicInfo.Bio"></span>
                </div>
                <div class="input-buttons">
                    <button type="reset" class="btn btn-gray">Cancel</button>
                    <button type="submit" class="btn btn-theme">save change</button>
                </div>
                
            </div>
        </form>
       
        
    </div>

</section>

<section class="address-account">
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="UpdateAddressInfo">

            <div class="form-content">

                <div class="input-first_address input-group">
                    <label class="input-label" asp-for="AddressInfo.Adress_1"></label>
                    <input asp-for="AddressInfo.Adress_1" />
                    <span asp-validation-for="AddressInfo.Adress_1"></span>
                </div>

                <div class="input-second_address input-group">
                    <label class="input-label" asp-for="AddressInfo.Adress_2"></label>
                    <input asp-for="AddressInfo.Adress_2" />
                    <span asp-validation-for="AddressInfo.Adress_2"></span>
                </div>

                <div class="input-postal_code input-group">
                    <label class="input-label" asp-for="AddressInfo.PostalCode"></label>
                    <input asp-for="AddressInfo.PostalCode" />
                    <span asp-validation-for="AddressInfo.PostalCode"></span>
                </div>

                <div class="input-city input-group">
                    <label class="input-label" asp-for="AddressInfo.City"></label>
                    <input asp-for="AddressInfo.City" />
                    <span asp-validation-for="AddressInfo.City"></span>
                </div>
                <div class="input-buttons">
                    <button type="reset" class="btn btn-gray">Cancel</button>
                    <button type="submit" class="btn btn-theme">save change</button>
                </div>
            </div>
        </form>

    </div>
</section>




